body{
    background-color:thistle;
}
h1{
    color: blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:green;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
tr,th,td{
    border: 1px solid black;
}
td a{
    color:orange;
}